* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("assets/img/bg-image.jpeg") no-repeat center;
  background-size: cover;
}
.content__body {
  background: #d7d7d7;
  border: 2px solid #4f4e4e;
  margin: 15px auto;
  height: 95%;
  color: #111;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 30px;
  min-height: 530px;
}

.container__wrapper {
  background: rgb(63, 63, 63);
  border-bottom: 1px solid #8d8888;
  padding: 10px 0;
}
.header__part .title {
  color: #848484;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
.header__part span {
  display: inherit;
  font-size: 20px;
  color: #707070;
}

.heading__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #8d8888;
  padding: 5px 0px;
  margin-bottom: 15px;
}
/* ---------Footer ---------- */
footer.footer__part {
  position: sticky;
  display: block;
  width: 100%;
  bottom: 0;
}
.footer__text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 5px;
}

/* ----------- Form Validation CSS ------------ */
